{
  "env": {
    "node": true,
    "es2021": true,
    "jest": true
  },
  "extends": ["airbnb-base", "prettier", "plugin:jest/recommended"],
  "plugins": ["prettier", "jest", "simple-import-sort"]
}
